:root {
    /*----------GRAY-----------*/
    --gray-black: #191818;
    --gray-darker: #292727;
    --gray-dark: #474443;
    --gray-medium: #A3A0A0;
    --gray-light: #E5DFDF;
    --gray-lighter: #F7F5F5;
    --gray-white: #FFFFFF;

    /*----------COLOR1-----------*/
    --color1-darker: #A61111;
    --color1-dark: #BF190E;
    --color1-main: #DB1E16;
    --color1-light: #F05A54;
    --color1-lighter: #FACBC8;

    /*----------COLOR2-----------*/
    --color2-darker: #331E17;
    --color2-dark: #4D3026;
    --color2-main: #734839;
    --color2-light: #A67B6C;
    --color2-lighter: #F2D7CE;

    /*----------GRADIENT-----------*/
    --gradient1-dark: linear-gradient(90deg, #800000 0%, #CC0000 100%);
    --gradient1-main: linear-gradient(90deg, #990000 0%, #DE0B0B 100%);
    --gradient1-light: linear-gradient(90deg, #FFD6D6 0%, #FF3333 100%);

    /*----------BACKGROUND-----------*/
    --bg-light: #FAF5F5;
    --bg-dark: #262626;
    --bg-gradient: linear-gradient(90deg, #D9F2FF 0%, #B6D4F2 100%);

    /*----------ERROR-----------*/
    --error-dark: #CC2929;
    --error-medium: #FFA6A6;
    --error-light: #FF9999;

    /*----------ALERT-----------*/
    --alert-dark: #BFBF00;
    --alert-medium: #D9D998;
    --alert-light: #E5E573;

    /*----------SUCCESS-----------*/
    --success-dark: #1F991F;
    --success-medium: #98D998;
    --success-light: #8AE58A;

    /*----------DISABLE-----------*/
    --disable-dark: #343434;
    --disable-medium: #8C8C8C;
    --disable-light: #D9D9D9;

    /*----------TRANSPARENT-----------*/
    --transparent: transparent;

    /*----------SOCIALS-----------*/
    --socials-in: radial-gradient(230.93% 230.93% at 102.01% 2.03%, #F9ED32 0%, #EE2A7B 36%, #D22A8A 44%, #8B2AB2 60%, #1B2AF0 83%, #002AFF 88%);
    --socials-wt: #48C95F;
    --socials-tg: #27A6E5;
    --socials-vk: #0077FF;
    --socials-ya: #FC3F1D;

    /*----------UNIQUE-----------*/
    --uniq-dark: #332E31;
    --uniq-green: #058405;
    --uniq-blue: #2C73EE;
    --uniq-yellow: #B0A200;
    --uniq-violet: #7D31DE;
    --uniq-purple: #C279A3;
    --uniq-pink: #F9AFCA;
    --uniq-red: #CE1F0F;
    --uniq-orange: #E57A45;
    --uniq-gold: #D9BA21;
    --uniq-light: #D9D9D7;
}