.hover-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        object-fit: cover;
        user-select: none;
        @include transition((opacity));

        &--active {
            opacity: 1;
        }
    }

    &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        z-index: 10;
    }

    &__sections {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 10;
    }

    &__section {
        height: 100%;
        flex: 1;
    }

    &__pagination {
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 20;
        @include gap(4px);
        @include mq(bottom, 8px);
    }

    &__dot {
        width: vw(8px);
        height: vw(4px);
        background: var(--gray-medium);
        transition: width .5s var(--ease-spring), background .2s var(--cubic-bezier);
        @include border-r(8px);

        @include HD {
            width: vwh(8px);
            height: vwh(4px);
        }
        @include Tablet {
            width: vwt(8px);
            height: vwt(4px);
        }
        @include Mobile {
            width: vwm(8px);
            height: vwm(4px);
        }

        &--active {
            background: var(--gray-dark);
            width: vw(16px);

            @include HD {
                width: vwh(16px);
            }
            @include Tablet {
                width: vwt(16px);
            }
            @include Mobile {
                width: vwm(16px);
            }
        }
    }
}