.catalog-modal {
    width: 100%;
    max-width: vw(560px);
    padding: vw(32px);
    height: auto;
    max-height: 100dvh;
    @include border-r(28px, 28px, 0, 0);
    @include hide-scrollbar;

    @include HD {
        max-width: vwh(500px);
        padding: vwh(32px);
    }
    @include Tablet {
        max-width: 100%;
        height: 100%;
        padding: vwt(8px) vwt(12px) vwt(12px);
        transform: translate(100%, 0) translateZ(0) !important;
    }
    @include Mobile {
        height: 100%;
        padding: vwm(8px) vwm(12px) vwm(12px);
    }

    &.active {
        @include Tablet {
            transform: translate(0) translateZ(0) !important;
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        @include gap(20px);

        @include Tablet {
            gap: 0;
            padding-bottom: vwm(64px);
        }

        @include Mobile {
            padding-bottom: vwm(64px);
        }
    }

    &__button-close {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__button-search {
        position: absolute;
        top: 0;
        @include mq(right, 56px);
    }

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        max-width: vw(438px);
        height: vw(48px);
        @include gap(12px);

        @include HD {
            max-width: vwh(436px);
            height: vwh(48px);
        }
        @include Tablet {
            max-width: unset;
            height: vwt(48px);

        }
        @include Mobile {
            height: vwm(48px);
        }
    }

    &__title {
        color: var(--gray-black);
        max-width: 24ch;
        @include h4;
        @include truncate(1);

        @include Tablet {
            max-width: 60ch;
        }
        @include Mobile {
            max-width: 20ch;
        }
    }

    &__desc {
        color: var(--gray-dark);
        @include t2;
    }

    &__body {
        display: flex;
        overflow: hidden auto;
        flex: 1 1 auto;
        max-height: 50dvh;
        @include border-r(4px);
        @include mq(margin-top, 8px);

        @include Tablet {
            padding-top: vwt(8px);
            border-top: solid var(--gray-lighter);
            max-height: unset;
            @include border-w(2px);
        }
        @include Mobile {
            padding-top: vwm(8px);
        }
    }

    &__body-wrap {
        display: flex;
        flex-direction: column;
        @include gap(8px);
    }

    &__panel {
        display: flex;
        flex-direction: column;
        @include gap(4px);
        animation: fadeIn 0.5s ease forwards;
    }

    &__tab-category {
        width: 100% !important;
        justify-content: space-between !important;

        .tab-image__text-wrap {
            margin-right: auto !important;
        }
    }

    &__button {
        justify-content: flex-start !important;
        width: 100% !important;

        &-count {

        }

        &-back {

        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        @include mq(margin-top, 8px);

        &-buttons {
            display: flex;
            flex-direction: column;
            @include gap(4px);
        }
    }
}