.categories-promo {
    padding: vw(80px) 0;

    @include HD {
        padding: vwh(80px) 0;
    }
    @include Tablet {
        padding: vwt(40px) 0;
    }
    @include Mobile {
        padding: vwm(40px) 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: vw(40px);

        @include HD {
            gap: vwh(40px);
        }
        @include Tablet {
            gap: vwt(32px);
        }
        @include Mobile {
            gap: vwm(32px);
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: vw(40px);

        @include HD {
            gap: vwh(40px);
        }
        @include Tablet {
            gap: vwt(32px);
        }
        @include Mobile {
            gap: vwm(32px);
        }
    }

    &__cat-list {
        display: none;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: vw(20px);
        overflow: hidden;
        animation: pulse-sm 0.5s ease forwards;

        @include HD {
            gap: vwh(20px);
        }
        @include Tablet {
            grid-template-columns: repeat(3, 1fr);
            gap: vwt(16px);
        }
        @include Mobile {
            grid-template-columns: repeat(1, 1fr);
            gap: vwm(16px);
        }

        &.active {
            display: grid;
        }
    }

    &__adds {
        display: flex;
        flex-direction: column;
        gap: vw(40px);
        padding-top: vw(40px);
        border-top: solid var(--gray-lighter);
        @include border-w(2px);

        @include HD {
            gap: vwh(40px);
            padding-top: vwh(40px);
        }
        @include Tablet {
            gap: vwt(32px);
            padding-top: vwt(32px);
        }
        @include Mobile {
            gap: vwm(32px);
            padding-top: vwm(32px);
        }

        &-title {
            color: var(--gray-black);
            @include h3;
        }
    }
}